body {
    font-family:'Courier New', Courier, monospace;
}
header, footer {
    background-color: #729071;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}
.nav-link {
    color: #729071;
}
.nav-link:hover, .nav-link.active {
    color: black;
}
.linkFooter {
    color: white;
}
.capa {
    height: 530px;
    margin-bottom: 60px;
}
.divImg {
    position: relative;
}
.divCronometro {
    position: absolute;
    bottom: 100px;
    height: 35%;
    font-size: 40px;
}
.relogio {
    background-color: white;
    border-radius: 10px;
}
.sucessos {
    color: #354935;
}

.foto {
    height: 70%;
    min-height: 50px;
    background-size: cover;
}
.significado {
    text-align: justify;
    text-indent: 2em;
    line-height: 2.5;
}
.btn {
    background-color: #729071;
}
.logo {
    width: 70%;
    height: 100%;
}
.redes {
    font-size: 30px;
}
.redesIcon {
    color: white;
}
.iconsPoliticas {
    font-size: 80px;
    color: gray;
}
.card {
    height: 100%;
    text-align: center;
    flex: 1 1 150px;
    margin: 5px;
}
.carousel-control-prev-icon { 
    background-image:url("/assets/img/setaEsquerda.png"); 
    opacity: 1;
    width: 30px;
    height: 40px;
    position: absolute;
}
.carousel-control-next-icon {
    background-image:url("/assets/img/setaDireita.png"); 
    opacity: 1;
    width: 30px;
    height: 40px;
}
.politicas {
    text-align: justify;
    width: 90%;
    text-indent: 2em;
    line-height: 1.5;
}
.divDivisoria {
    height: 3px;
    background-color: #729071;
    width: 100%;
}